[submodule "support/smoosh"]
	path = support/smoosh
	url = https://github.com/fat/smoosh.git
[submodule "support/str.js"]
	path = support/str.js
	url = git://github.com/jgallen23/str.js.git
[submodule "support/simple-class"]
	path = support/simple-class
	url = git://github.com/jgallen23/simple-class.git
